/target
/.idea
.vscode
.DS_Store

# direnv
.direnv
.envrc
.env

npm/@tailcallhq
npm/node_modules

cloudflare/.wrangler
cloudflare/build
cloudflare/node_modules
cloudflare/pkg
cloudflare/package-lock.json
