/target
/.idea
/.vscode
.DS_Store
.bsp
/cloudflare/node_modules
/cloudflare/.wrangler
# direnv
.direnv
.envrc
.env

npm/@tailcallhq
npm/node_modules

cloudflare/.wrangler
cloudflare/.mf
cloudflare/build
cloudflare/node_modules
cloudflare/pkg

.wrangler/