/target
/.idea
/.vscode
.DS_Store
.bsp
/cloudflare/node_modules
/cloudflare/.wrangler
# direnv
.direnv
.envrc
.env

npm/@tailcallhq
npm/node_modules

cloudflare/.wrangler
cloudflare/build
cloudflare/node_modules
cloudflare/pkg

.wrangler/

/lambda/deploy/tailcall.zip
/lambda/deploy/.terraform*
/lambda/deploy/terraform*
/lambda/deploy/*.graphql
/lambda/deploy/tmp/
!/lambda/deploy/example.graphql

/tests/snapshots/*.new
