{
  "semi": false,
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "**/*.graphql",
      "options": {
        "bracketSpacing": false
      }
    }
  ]
}