{
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": false,
  "overrides": [
    {
      "files": [
        "add-field-many-list.graphql",
        "add-field-many.graphql",
        "inline-many.graphql",
        "inline-many-list.graphql",
        "test-grpc.graphql",
        "test-expr-success.graphql"
      ],
      "options": {
        "printWidth": 216
      }
    }
  ]
}
