[package]
name = "tailcall"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "tailcall"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.75"
derive_setters = "0.1.6"
thiserror = "1.0.48"
http-cache-semantics = {version = "1.0.1", default-features = false, features = ["reqwest"]}
mimalloc = { version = "0.1.38", default-features = false }
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
serde_urlencoded = "0.7.1"
url = { version = "2", features = ["serde"] }
sha2 = { version = "0.10", features = ["std"] }
tokio = { version = "1", features = ["full"] }
reqwest = { version = "0.11", features = ["json"], default-features = false }
hyper = { version = "0.14", features = ["full"] , default-features = false}
async-graphql = { version = "6.0", features = [
   "dynamic-schema",
   "apollo_persisted_queries",
   "dataloader",
   "apollo_tracing"
] }
async-graphql-value = "6.0"
base64 = "0.21"
indexmap = "2.0"
lazy_static = "1.4.0"
mini-v8 = { version = "0.4.1", optional = true }
clap = { version = "4.4.3", features = ["derive"] }
colored = "2"
regex = "1.9.5"
http-cache-reqwest = { version = "0.11.1", features = ["manager-moka"], default-features = false }
reqwest-middleware = "0.2.3"
async-trait = "0.1.73"
serde_path_to_error = "0.1.14"
moka = "0.11.3"

[dev-dependencies]
httpmock = "0.6"
mockito = "1.1.0"
pretty_assertions = "1.4.0"
stripmargin = "0.1.1"

[profile.release]
opt-level = 3
codegen-units = 1
panic = 'abort'
lto = 'thin'
debug = false
incremental = false
overflow-checks = false

[features]
unsafe-js = ["dep:mini-v8"]
