name: benchmark

on:
  pull_request:
    types: [opened, edited, synchronize, reopened, labeled]
    branches: 
      - main
  
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run benchmark on'
        required: true
        default: 'ci_benchmark'

jobs:
  benchmark:
    name: Rust project
    if: contains(github.event.pull_request.labels.*.name, 'benchmark')
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Cache Rust dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      
      - name: Run tailcall
        run: |
          ./target/release/tailcall start ci-benchmark/benchmark.graphql&

      - name: Install Nginx
        run: |
          sudo apt-get update
          sudo apt-get install -y nginx
          
      - name: Clean Up
        run: |
          sudo rm -rf /etc/nginx/sites-enabled/default

      - name: Copy Nginx Configuration
        working-directory: ci-benchmark
        run: |
          sudo cp nginx.conf /etc/nginx/

      - name: Test Nginx Configuration
        run: |
          sudo nginx -t

      - name: Start Nginx
        run: |
          sudo systemctl start nginx
          
      - name: Install wrk
        run: |
          sudo apt-get install -y wrk

      - name: Run test query
        run: |
          curl -i -X POST -d '{"query": "{posts{title}}"}' http://localhost:8000/graphql -H "Content-Type: application/json"

      - id: run_wrk
        name: Run wrk
        working-directory: ci-benchmark
        run: |
          wrk -d 30 -t 1 -c 100 -s wrk.lua http://localhost:8000/graphql > wrk-output.txt
      
      - id: convert_wrk_output_markdown
        name: Convert output to markdown
        working-directory: ci-benchmark
        run: |
          node wrk-output-to-md.js wrk-output.txt > wrk-output.md

      - id: cat_md
        name: cat md
        working-directory: ci-benchmark
        run: |
          cat wrk-output.md
                    
      - id: add_pr_comment
        uses: thollander/actions-comment-pull-request@v2
        with:
          filePath: ./ci-benchmark/wrk-output.md
  
