name: Release Drafter

on:
  push:
    branches:
      - main
  # pull_request_target event is required for autolabeler to support PRs from forks
  # it's ok to do so while we do not checkout and build any external code
  pull_request_target:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          config-name: release-drafter.yml